{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Success</title>
        <style>
            body {
                background-image: url("{% static 'app/images/hello.jpg' %}");
                background-size: cover;
            }
        </style>
    </head>
    <body>
        <form method="post" action="{% url 'app:logout' %}">
            {% csrf_token %}
            <button type="submit">Log out</button>
            <button type="button" onclick="window.location.href='{% url 'app:secret' %}'">mystery🤫</button>
        </form>
    </body>